<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Symptom Tracker</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <h1>Edit an entry</h1>

    <form action="/addEntry" method="POST">
        <label for="date">Select a date:</label>
        <input type="date" id="date" name="date">
        <fieldset>
            <legend>How was your pain level on the selected date?</legend>
            <input type="radio" id="veryLow" name="painLevel" value="Very Low">
            <label for="veryLow">Very low</label>
            <input type="radio" id="low" name="painLevel" value="Low">
            <label for="low">Low</label>
            <input type="radio" id="average" name="painLevel" value="Average">
            <label for="average">Average</label>
            <input type="radio" id="high" name="painLevel" value="High">
            <label for="high">High</label>
            <input type="radio" id="veryHigh" name="painLevel" value="Very High">
            <label for="veryHigh">Very high</label>
        </fieldset>
        <button type="submit">Submit</button>
    </form>

    <span id="deleteButton" class="fa-solid fa-trash-can"></span>

    <script src="https://kit.fontawesome.com/c70c69bd1d.js" crossorigin="anonymous"></script>
    <script src='js/main.js'></script>

</body>

</html>